In [102]:
import pandas as pd
import os

In [ ]:
source_files = sorted(Path('path/to/my/files').glob('*.csv'))

dataframes = []
for file in source_files:
    df = pd.read_csv(file) 
    df['source'] = file.name
    dataframes.append(df)

df_all = pd.concat(dataframes)
display(df_all)

In [116]:
dataframes = []

for i in sorted(os.listdir("../XRPUSDT_Dataset/raw_data/")):
    if "XRPUSDT" in i:
        month_data = pd.read_csv("../XRPUSDT_Dataset/raw_data/" + i)
        month_data.drop(list(month_data)[7:], axis=1, inplace=True)    
        month_data.columns=["open_time", "open", "high", "low", "close", "volume", "close_time"]
        dataframes.append(month_data)
                
xrp_data = pd.concat(dataframes)
xrp_data.reset_index(drop=True)

,open_time,open,high,low,close,volume,close_time
0,1567296300000,0.25808,0.25821,0.25778,0.25787,66709.6,1567296599999
1,1567296600000,0.25787,0.25789,0.25744,0.25751,76896.3,1567296899999
2,1567296900000,0.25751,0.25793,0.25745,0.25774,71280.3,1567297199999
3,1567297200000,0.25778,0.25788,0.25757,0.25781,45598.6,1567297499999
4,1567297500000,0.25781,0.25804,0.25753,0.25804,114789.9,1567297799999
...,...,...,...,...,...,...,...
481538,1711928100000,0.62970,0.62970,0.62920,0.62950,883083.0,1711928399999
481539,1711928400000,0.62950,0.62950,0.62890,0.62910,638190.0,1711928699999
481540,1711928700000,0.62910,0.62920,0.62870,0.62880,586170.0,1711928999999
481541,1711929000000,0.62880,0.62890,0.62860,0.62890,518475.0,1711929299999
481542,1711929300000,0.62890,0.62920,0.62880,0.62920,261188.0,1711929599999

In [118]:
xrp_data.to_csv("XRP_dataset.csv")